<app-navbar [user]="this.user"></app-navbar>
  <section class="bg-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="display-4 mb-3">Find and Reserve Parking Online</h1>
          <p class="lead mb-4">At Online Parking, we understand that finding a parking spot can be stressful and time-consuming. That's why we've created a platform that takes the hassle out of the process. </p>
          <a class="btn btn-primary btn-lg" routerLink="/parking/reservation" >Get Started</a>
        </div>
        <!-- <div class="col-md-6">
          <img src="https://images.pexels.com/photos/2280148/pexels-photo-2280148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Parking Lot" class="img-fluid">
        </div> -->
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-3">Easy Booking</h3>
              <p class="card-text">Book your parking spot in just a few clicks and get instant confirmation.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-3">Secure Parking</h3>
              <p class="card-text">Our parking lots are monitored 24/7 to ensure the safety of your vehicle.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h3 class="card-title mb-3">Affordable Rates</h3>
              <p class="card-text">We offer competitive rates for all our parking spots, so you can save money.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="text-white mb-4">Book Your Parking Spot Now</h2>
          <p class="text-white mb-4">So why wait? Sign up for Online Parking today and start enjoying the benefits of convenient, affordable, and secure parking.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-light btn-lg" routerLink="/parking/reservation" >Get Started</a>
        </div>
      </div>
    </div>
  </section>